:root {
  color-scheme: dark;
}

#logo {
  width: 40px;
}

.chat-container {
  max-width: 400px;
  margin: 0 auto;
  border-radius: 5px;
}

.navbar {
  height: 60px;
  z-index: 1000;
}

#chat-messages {
  flex-grow: 1 !important;
  padding: 10px;
  width: 100%;
  overflow-y: scroll;
}

.typing-animation {
  font-size: 10px;
  color: #DCDCDC;
}

.dot {
  position: relative;
  top: 0;
  animation: typing 1s infinite;
}

.dot1 {
  animation-delay: 0.2s;
}

.dot2 {
  animation-delay: 0.4s;
}

.dot3 {
  animation-delay: 0.6s;
}

@keyframes typing {
  0%, 100% { top: 0; }
  50% { top: -5px; }
}

#chat-header img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

#side-menu {
  height: 100vh;
  background-color: #121212;
}

.side-menu-item a {
  color: #DCDCDC;
  font-size: 28px;
}

.content {  
  height: calc(100vh - 60px);
  overflow-y: scroll;
}

#no-chat-column {
  display: flex;
  background-color: #121212;
  color: #CACACA;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#bots-list {
  background-color: #212121;
  padding: 0;
  padding-top: 16px;
  flex-grow: 1 !important;
  padding: 10px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

#bots-list img {
  height: 40px;
  border-radius: 20px;
  border: 1px solid #808080;
}

#bots-list a {
  color: #DCDCDC;
  text-decoration: none !important;
}

.message {
  display: inline-block;
  width: auto !important;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 8px;
}

body {
  background-color: #1E1E1E !important;
}

#left-column, main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.text-light {
  color: #808080 !important;
}

.navbar {
  background-color: #171717;
  box-shadow: 0px 1px 1px #171717;
}

.user-message {
  float: right;
  text-align: right;
  background-color: #2060BB;
  color: #ECECEC;
  border-top-right-radius: 0px;
}

.bot-message {
  background-color: #2C2C2C;
  color: #DCDCDC;
  text-align: left;
  border-top-left-radius: 0px;
}

#back-button a, #back-button a:hover, #back-button a:active, #back-button a:visited {
  color: #DCDCDC !important;
  text-decoration: none !important;
}

.form-control {
  border-style: none !important;
}

.header-text {
  color: #EAEAEA;
}

#chats-button, #save-button, #send-button {
  color: #EAEAEA !important;
  border-color: #2060BB !important;
  background: #2060BB !important;
}

select,
#new-bot-form input {
  width: auto !important;
  display: inline-block !important;
}

.image-item {
  width: 96px;
}

.image-item.selected {
  border: 2px solid #808080;
}

input[type=text], input[type=text]:focus, select {
    color: #DCDCDC !important;
	box-shadow:none !important;
	background-color: #2C2C2C !important;
    border-color: #2C2C2C !important;
}